{
  "singleQuote": true,
  "trailingComma": "none",
  "experimentalTernaries": true,
  "quoteProps": "consistent",
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
